@font-face {
    font-family: raleway;
    src: url(/font/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: poppins;
    src: url(/font/Poppins-Regular.ttf);
}

*{
    padding : 0;
    margin : 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


header{
    position:fixed;
    top:0;
    width:100%;
    overflow:hidden;
    z-index:10000;
}

nav{
    background-color: #EC9933;
    height: 73px;
    width:100%;    
 }

.warmartlogo{
    float:left;
    width:257px;
    height:193px;
    margin-left:100px;
    margin-top:-60px;
}
nav ul{
    font-family: raleway;
    float:right;
    margin-right:73px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 37px;
}

nav ul li a{
    color: #484848;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
}


ul.active, a:hover{
    color:grey;
    text-decoration:underline;
    text-underline-offset: 4px;
    transition:ease 0.7s;
}

.registerac:hover{
    color:black;
    text-decoration: none;
}

.active{
    color:white;
    text-decoration: none;
    pointer-events: none;

}

.checkbtn{
   cursor:pointer;
   float: right;
   display:none;
}

.fasfa-bars{
    width: 50px;
    height: 30px;
    margin: 30px 15px;
}

#check{
    display:none;
}

@media(max-width:1172px){
    nav ul{
        margin-right:10px;
    }
    nav ul li{
        margin: 0 30px;
    }
}

@media(max-width:1040px){
    nav ul li{
        margin: 0 15px;
    }
    .warmartlogo{
        margin-left:30px;
    }
}
@media(max-width:908px){
    nav ul li a{
        font-size: 16px;
    }
    .warmartlogo{
        margin-left:25px;
        width:200px;
        height:150px;
        margin-top:-35px;
    }
}

@media(max-width:775px){
    #warmartlogoresponsive{
        display:flex;
        justify-content: center;
    }
    .warmartlogo{
        width:250px;
        height:193px;
        margin-top:-60px;
    }
    .checkbtn{
        display:block;
        margin-top:-5px
    }
    .spacetdlogo{
        width: 200px;
        height: 140px;
    }
    ul{
        position:fixed;
        width: 100%;
        height:50;
        background:#eb9c3d;
        top: -1000px;
        text-align:center;
        opacity:0.95;
        transition: all 0.5s;
    }

    nav ul li{
        display: block;
        line-height:70px;
        border-bottom: 1px solid white;
    }
    nav ul li a{
        font-size:20px;
    }
    
    #check:checked ~ ul{
        top: 73px;
        z-index:3;
    }

    nav ul li a.registerac{
        background:none;
    }


}

/* footer */

.footer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: #EC9933;
    padding: 2vw 0px;
    margin-top:10%;
    height:11.8vw;
    bottom:0;
    gap:3vw;
}

.footer-bottom{
    background-color: #935A18;
    font-size: 15px;
    height:53px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.footer-bottom p{
    display: flex;
    justify-content: center;
    color: #fff;
    opacity: 60%;
    font-family: poppins;
    font-size:13px;   
    font-weight:300;
}

.bagian1{
    display:flex;
    flex-direction: column;
    
    font-family:poppins;
}

.bagian1 img{
    width:15vw;
    margin-top:-5vw;
}

.bagian1tulisan{
    margin-top:-3.8vw;
    margin-left:2vw;
    color:#606060;
    
}

.bagian1 h1{
    color:#606060;
    font-size:1.3vw;
    font-weight: bold;
}

.bagian1 h2{
    font-weight:300;
    font-size:1.3vw;
    margin-top:0.5vw;
}
.terhubungbersama{
margin-left:10vw;
margin-right:4vw;
}
.terhubungbersama h1{
    color:#606060;
    font-family: poppins;
    font-size:1.3vw;
    margin-top:3vw;
}
.gambarhubung{
    display:flex;
    justify-content: center;
    gap:1vw;
}
.gambarhubung img{
    width:2.5vw;
    height:3vw;
}

.franchisecabang{
    color:#606060;
    font-family:poppins;
    margin-top:0.8vw;
}

.franchisecabang h1{
    font-size:1.3vw;
    font-weight:700;
}
.cabangcabang{
    display:flex;
    flex-direction: row;
    gap:4vw;
    margin-top:0.4vw;
}

.cabangcabang h1{
    font-size:1.3vw;
    font-weight:300;
}
